<section class="container" fxLayout="row" fxLayoutGap="20px" style="margin-top:2rem;">
	<section fxFlex>
		<nx-paper>
			<nav md-tab-nav-bar>
			  <a md-tab-link active="true">Computer</a>
			  <a md-tab-link>Remote</a>
			  <a md-tab-link>FTP</a>
			</nav>
		</nx-paper>
		<input type="file" ng2FileSelect [uploader]="uploader" multiple  />
		<section fxLayout="column" fxLayoutGap="20px" style="margin-top: 20px;">
			<md-card *ngFor="let item of uploader?.queue" class="upload-panel" file="item">
				<md-card-header>
				    <md-card-title>{{item.file.name}}</md-card-title>
				    <md-card-subtitle>Dog Breed</md-card-subtitle>
				    <span fxFlex></span>
				    <button md-icon-button (click)="item.remove()">
				    	<md-icon>close</md-icon>
				    </button>
 			    </md-card-header>
 			    <img md-card-image src="http://via.placeholder.com/950x400?text=blah blah blah..." fxHide>
 			    <md-card-content>
				    <section fxLayout="row" fxLayoutGap="25px">
				    	<section fxFlex fxLayout="column" fxLayoutGap="20px">
				    		<md-input-container class="full-width">
						      <input mdInput placeholder="Title" [value]="item?.file?.name">
						    </md-input-container>
						    <md-input-container class="full-width">
						      <textarea mdInput placeholder="Description" rows="4" maxlength="29"></textarea>
						    </md-input-container>
						    <md-radio-group fxLayout="row" fxLayoutGap="20px">
							  <md-radio-button value="1">Public</md-radio-button>
							  <md-radio-button value="2">Private</md-radio-button>
							</md-radio-group>
				    	</section>
				    	<section fxFlex fxLayout="column" fxLayoutGap="10px">
							<section fxLayout="column" fxLayoutGap="5px">
		    					<md-progress-bar mode="determinate" [value]="item.progress"></md-progress-bar>
		    					<span style="font-size: 1.2rem;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
		    						<span>Uploading...{{item.progress}}% {{fileProgress?.label}}</span>
		    						<md-icon class="material-icons md-18">check_circle</md-icon>
		    					</span>
		    				</section>
		    				<section fxLayout="column" fxLayoutGap="5px">
		    					<md-progress-bar mode="determinate" value="25"></md-progress-bar>
		    					<span style="font-size: 1.2rem;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
		    						<span>Processing...5%</span>
<!-- 		    						<md-icon class="material-icons md-18">check_circle</md-icon> -->
		    					</span>
		    				</section>
				    		<md-grid-list cols="3" rowHeight="16:9" gutterSize="5px" fxHide1>
							  <md-grid-tile>
							  	<img style="width: 100%;" src="https://i.ytimg.com/vi/j5-yKhDd64s/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=67&sigh=WiQRAoZbxFPkjVnZONJ-AdinSkA" alt="">
							  </md-grid-tile>
							  <md-grid-tile>
							  	<img style="width: 100%;" src="https://i.ytimg.com/vi/zUzd9KyIDrM/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=67&sigh=ceCVfxMlu0IvZXXPpb8ZLwL510E" alt="">
							  </md-grid-tile>
							  <md-grid-tile>
							  	<img style="width: 100%;" src="https://i.ytimg.com/vi/3zPvfVmL0nE/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=67&sigh=iaxx9gIG7A1QHhqo7PoC9sjf6j8" alt="">
							  </md-grid-tile>
							  <md-grid-tile>
							  	<img style="width: 100%;" src="https://i.ytimg.com/vi/JGwWNGJdvx8/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=67&sigh=a5reHxrqsrsRm0ZxAQFv_JzXmIk" alt="">
							  </md-grid-tile>
							  <md-grid-tile>
							  	<img style="width: 100%;" src="https://i.ytimg.com/vi/1w7OgIMMRc4/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=67&sigh=u0_Wq5k19Ezvbb3DSVcONY9bC24" alt="">
							  </md-grid-tile>
							  <md-grid-tile>
							  	<img style="width: 100%;" src="https://i.ytimg.com/vi/opU1urLhw50/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=67&sigh=OL6dJkq_6XCqiRwPJdpc2Ql2Am8" alt="">
							  </md-grid-tile>
							</md-grid-list>
				    	</section>
				    </section>
			    </md-card-content>
				<md-card-actions>
				    <button md-button>PUBLISH</button>
				</md-card-actions>
			</md-card>
		</section>
	</section>

	<nx-paper fxFlex="300px">dd
	</nx-paper>
</section>